<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [4]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11<br>
__- 11 and 12__

In [7]:
# You code here
data[data['Year'] == 1992].groupby('Sex')['Age'].describe()

       count       mean       std   min   25%   50%   75%   max
Sex
F     5171.0  22.940437  5.198453  12.0  19.0  23.0  26.0  53.0
M    11198.0  24.955438  5.028283  11.0  22.0  24.0  27.0  62.0

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 <br>
**- 2.5**
- 7.7

In [9]:
# You code here
sub_iq = data[(data['Year'] == 2012) & (data['Sex'] == 'M')].drop_duplicates(subset='Name')

In [10]:
print("Total male atheletes in 2012: {}".format(len(sub_iq)))

Total male atheletes in 2012: 5858

In [11]:
print("% of male athelete in 2012 those play Basketball: ")
print(100 * len(sub_iq[sub_iq['Sport'] == 'Basketball']) / len(sub_iq))

% of male athelete in 2012 those play Basketball:
2.4411061795834756

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*
<br>
**- 171.8 and 6.5**
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [13]:
# You code here
data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].describe()

count    125.000000
mean     171.792000
std        6.458673
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

__4. Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh<br>
**- Skeleton**
- Boxing

In [15]:
# You code here
data[data['Year'] == 2006].sort_values('Weight', ascending=False).head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN
38615,19867,Zdeno Chra,M,28.0,206.0,116.0,Slovakia,SVK,2006 Winter,2006,Winter,Torino,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
129597,65246,Kevin Kuske,M,27.0,196.0,116.0,Germany-1,GER,2006 Winter,2006,Winter,Torino,Bobsleigh,Bobsleigh Men's Four,Gold
129596,65246,Kevin Kuske,M,27.0,196.0,116.0,Germany-1,GER,2006 Winter,2006,Winter,Torino,Bobsleigh,Bobsleigh Men's Two,Gold
48536,25017,"Matthew John ""Matt"" Dallow",M,34.0,190.0,114.0,New Zealand,NZL,2006 Winter,2006,Winter,Torino,Bobsleigh,Bobsleigh Men's Two,NaN

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1<br>
**- 2**
- 3

In [18]:
# You code here
data[data['Name'] == 'John Aalberg'].drop_duplicates(subset='Year')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN

__6. How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1<br>
**- 2**
- 3

In [20]:
# You code here
data[(data['Year'] ==2008) & (data['Team'] == 'Switzerland') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*
<br>
**- Yes**
- No

In [26]:
# You code here
print("Medals won by Swiss in 2016 games")
print(len(data[(data['Year'] == 2016) & (data['Team'] == 'Spain')].dropna(subset=['Medal'])))

Medals won by Swiss in 2016 games
43

In [25]:
print("Medals won by Italy in 2016 games")
print(len(data[(data['Year'] == 2016) & (data['Team'] == 'Italy')].dropna(subset=['Medal'])))

Medals won by Italy in 2016 games
70

__8. What are the most and least common age groups among the participants of the 2008 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*
<br>
**- [45-55] and [25-35) correspondingly**
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [32]:
# You code here
part_2008 = data[data['Year'] == 2008].drop_duplicates(subset='Name')

print("Athletes in age group [15-25): {}".format(len(part_2008[(part_2008['Age'] >= 15) & (part_2008['Age'] < 25)])))
print("Athletes in age group [25-35): {}".format(len(part_2008[(part_2008['Age'] >= 25) & (part_2008['Age'] < 35)])))
print("Athletes in age group [35-45): {}".format(len(part_2008[(part_2008['Age'] >= 35) & (part_2008['Age'] < 45)])))
print("Athletes in age group [45-55]: {}".format(len(part_2008[(part_2008['Age'] >= 45) & (part_2008['Age'] <= 55)])))

Athletes in age group [15-25): 4776
Athletes in age group [25-35): 5373
Athletes in age group [35-45): 630
Athletes in age group [45-55]: 78

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*
<br>
**- Yes, Yes**
- Yes, No
- No, Yes 
- No, No

In [34]:
# You code here
len(data[(data['City'] == 'Atlanta') & ( data['Season'] == 'Summer')])

13780

In [35]:
len(data[(data['City'] == 'Squaw Valley') & ( data['Season'] == 'Winter')])

1116

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10<br>
**- 15**
- 27

In [43]:
# You code here
data[data['Year'] == 2002]['Sport'].nunique() - data[data['Year'] == 1986]['Sport'].nunique()

15

That's it! Now go and do 30 push-ups! :)